---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'IBM Plex Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #222;
$background-color: #fafafa;
$brand-color:      #0069FF;
$hover-color: darken($brand-color, 15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.nav-cta {
    background: #0069FF;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}

.footer {
    color: #aaa;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1em;
    text-align: center;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.page-content {
    flex: 1;
}
.footer {
    flex-shrink: 0;
}
.notice {
    background-color: $brand-color;
    color: #fff;
    padding: 1em;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2em;
    box-shadow: 0px 4px 6px 3px #dab5a9c9;

    a {
        color: #fff;
    font-weight: 500;
    border-bottom: 1px #fff solid;
    text-decoration: none;
    }
}

ol {
    counter-reset: ol-counter;
    padding-left: 2em;
    list-style-type: none;
    margin-left: 0;
  }

  ol > li {
      min-height: 40px;
  }
  
  ol > li:before {
    content: counter(ol-counter);
    counter-increment: ol-counter;
    margin-right: 1em;
    font-weight: bold;
    height: 100px;
    position: absolute;
    margin-left: -2em;
    background: $brand-color;
    position: absolute;
    color: #fff;
    font-weight: 900;
    width: 30px;
    height: 29px;
    line-height: 30px;
    text-align: center;
    margin-left: -40px;
    border-radius: 50%;
    font-size: 16px;
  }

  pre {
    font-size: 16px;
    background: #272822;
    padding: 16px 30px 14px;
    margin: 1em -30px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-style: normal;
  }

  pre > code {
    background: none;
    padding: 0;
    font-size: inherit;
    white-space: unset;
  }

  hr {
      border-color: #00000010;
      margin: 2em;
  }